/* src/styles/custom.css */

  /* 默认状态 (没有 .dark 类，即浅色模式) */
  /* 隐藏暗色图片 */
  .site-title-image-dark {
    display: none;
  }
  /* 显示浅色图片 */
  .site-title-image-light {
    display: block;
  }
  
  /* 当 <html> 标签拥有 .dark 类时 (由主题的JS在切换时添加) */
  /* 显示暗色图片 */
  html.dark .site-title-image-dark {
    display: block;
  }
  /* 隐藏浅色图片 */
  html.dark .site-title-image-light {
    display: none;
  }



/*
 * Heti 间距最终版：
 * 为包裹英文的 heti-spacing 元素左右两边都添加外边距，
 * 完美处理 CJK -> Latin -> CJK 的混排场景。
*/
heti-spacing {
  display: inline-block;
  margin: 0 0.4em; /* 上下边距为0，左右边距为0.4em */
}