.code-toolbar{
    max-width: 750px;
    margin: 0 auto 35px;
    font-size: 12px;

    pre{
      padding-top: 2.5em !important;
      padding-bottom: 2.5em !important;
      padding-left: 5em !important;
      padding-right: 5em !important;
      border-radius: 5px !important;
      background-color: #292c34 !important;
      white-space: pre-wrap !important;
      word-wrap: break-word !important;

      code{
        color: white;
      }
    }

    .toolbar-item{
      position: absolute;
      top: 1em;
      right: 1em;
    }
}

@media screen and (max-width: 540px) {
  .code-toolbar {
    max-width: 96vw;
  }
  .code-toolbar pre {
    padding-left: 3.8em !important;
    padding-right: 1em !important;
  }
}