#logo-desktop{
    .change-fill{
        fill: var(--primary);
    }
}

#logo-mobile{
    path{
        fill: var(--primary);
    }
}

@media screen and (max-width: 735px){
    #logo-desktop {
        display: none !important;
    }
    #logo-mobile{
        display: block !important;
    }
}