.section{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 4rem;

    /*DESKTOP*/
    @media screen and (max-width: 1070px){
        max-width: 1600px;
    }

    /*PHABLET*/
    @media screen and (max-width: 540px){
        max-width: 100%;
        padding: 0 4rem;
    }

    p{
        /*TABLET*/
        @media screen and (max-width: 735px){
            padding: 0 4.5rem;
            max-width: 1100px;
        }
    }
}

.narrow{
    p{
        /*TABLET*/
        @media screen and (max-width: 735px){
            padding: 0 4.5rem;
            max-width: 1100px;
        }
    }
    
}